<!DOCTYPE html>
<html lang="{{ site.active_lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <meta name="description" content="{{ site.data.meta.description }}">
</head>
<body>
    <header>
        <h1><a href="{{ site.url }}/">{{ site.data.meta.title }}</a></h1>
        <nav>
          {% for tongue in site.languages %}
            <a
                {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %}
                {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %}
                    >{{ site.data.languages.name[tongue] }}</a>{% unless forloop.last %} / {% endunless %}
          {% endfor %}
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
